{% extends 'base.html' %}


{% load staticfiles %}


{% block include_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/Brands/Berghaus/style.css' %}">
{% endblock include_css %}


{% block title %}
    Berghaus
{% endblock %}


{% block content %}

    {% include 'include_sections.html' %}

    <div class="block1">
        <img class="img1" src="{% static "core/images/Brands/Berghaus/Gender/Women.png" %}" alt="Img1">
        <h2> Women </h2>
    </div>

    <div class="block2">
        <img class="img1" src="{% static "core/images/Brands/Berghaus/Gender/Men.png" %}" alt="Img2">
        <h2> Men </h2>
    </div>

    <div class="block3">
        <img class="img1" src="{% static "core/images/Brands/Berghaus/Gender/Kids.png" %}" alt="Img3">
        <h2> Kids </h2>
    </div>

{% endblock %}
