<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/Brands/JackWolfskin/style.css' %}">
    <title> CasualClothing </title>
</head>

<body>

<div class="block1">
    <img class="img1" src="{% static "core/images/Brands/JackWolfskin/Who/Women's.jpg" %}" alt="Img1">
</div>

<div class="block2">
    <img class="img1" src="{% static "core/images/Brands/JackWolfskin/Who/Men's.jpg" %}" alt="Img2">
</div>

<div class="block3">
    <img class="img1" src="{% static "core/images/Brands/JackWolfskin/Who/Kids'.jpg" %}" alt="Img3">
</div>

</body>

</html>