{% extends 'base.html' %}


{% load staticfiles %}


{% block include_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/Brands/JackWolfskin/style.css' %}">
{% endblock include_css %}


{% block title %}
    Jack Wolfskin
{% endblock title%}


{% block content %}

    {% include 'include_sections.html' %}

    <div class="block1">
        <img class="img1" src="/media/{{ brands.0.image_women.image }}" alt="Img1">
        <h2> Women </h2>
    </div>

    <div class="block2">
        <img class="img1" src="/media/{{ brands.0.image_men.image }}" alt="Img2">
        <h2> Men </h2>
    </div>

    <div class="block3">
        <img class="img1" src="/media/{{ brands.0.image_kids.image }}" alt="Img3">
        <h2> Kids </h2>
    </div>

{% endblock content %}