{% extends 'base.html' %}


{% load staticfiles %}


{% block include_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/brands_style.css' %}">
{% endblock include_css %}


{% block title %}
    {{ object.name }}
{% endblock %}


{% block content %}

    {% include 'include_sections_for_brands.html' %}

    <div class="grid">

        <div class="gender_image">
            <img class="img_logo" src="/media/{{ object.image_women }}" alt="logo-image">
            <div class="centered">
                <a class="category" href="{% url 'core:categories' brand_name=brand.name gender_category='Women' %}"> Women </a>
            </div>
        </div>

        <div class="gender_image">
            <img class="img_logo" src="/media/{{ object.image_men }}" alt="logo-image">
            <div class="centered">
                <a class="category" href="{% url 'core:categories' brand_name=brand.name gender_category='Men' %}"> Men </a>
            </div>
        </div>

        <div class="gender_image">
            <img class="img_logo" src="/media/{{ object.image_kids }}" alt="logo-image">
            <div class="centered">
                <a class="category" href="{% url 'core:categories' brand_name=brand.name gender_category='Kids' %}"> Kids </a>
            </div>
        </div>

    </div>

{% endblock %}
