{% extends 'base.html' %}


{% load staticfiles %}


{% block include_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/brands_style.css' %}">
{% endblock include_css %}


{% block title %}
    {{ brand.name }}
{% endblock %}


{% block content %}

    {% include 'include_sections_for_brands.html' %}

    <div class="block1">
        <img class="img1" src="/media/{{ brand.image_women.image }}" alt="Img1">
        <a href="{% url 'core:categories' brand_name=brand.name gender_category='Women' %}" >
            <h2> Women </h2>
        </a>
    </div>

    <div class="block2">
        <img class="img1" src="/media/{{ brand.image_men.image }}" alt="Img2">
        <a href="{% url 'core:categories' brand_name=brand.name gender_category='Men' %}" >
            <h2> Men </h2>
        </a>
    </div>

    <div class="block3">
        <img class="img1" src="/media/{{ brand.image_kids.image }}" alt="Img3">
        <a href="{% url 'core:categories' brand_name=brand.name gender_category='Kids' %}" >
            <h2> Kids </h2>
        </a>
    </div>

{% endblock %}
