{% extends 'base.html' %}


{% load staticfiles %}


{% block include_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/brands_style.css' %}">
{% endblock include_css %}


{% block title %}
    {{ brand.name }}
{% endblock %}


{% block content %}

    {% include 'include_sections_for_brands.html' %}

        {% for image in list_images %}

                <img class="img" src="/media/{{ image }}" alt="Img1">

        {% endfor %}


    {% for cat in category %}

        <a href="{% url 'core:categories' brand_name=brand.name gender_category=cat.name %}" >
            <h2 class="block{{ forloop.counter }}"> {{ cat.name }} </h2>
        </a>

    {% endfor %}

{% endblock %}
