{% extends 'base.html' %}


{% load staticfiles %}


{% block include_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/cart_style.css' %}">
{% endblock include_css %}


{% block title %}
    Cart
{% endblock %}

{% block content %}

    <h3 class="text-center"> Your bag </h3>
    <br>

    {% if object.items.count == 0 %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <h4 class="text-center"> Your bag is empty </h4>

    {% else %}

        <table class="table">
            <tr>
                <td class="text-center"> <strong> Product </strong> </td>
                <td class="text-center"> <strong> Quantity </strong> </td>
                <td class="text-center"> <strong> Price </strong> </td>
                <td class="text-center"> <strong> Size </strong> </td>
                <td class="text-center">  </td>
            </tr>

            {% for item in object.items.all %}

                <tr>
                    <td class="text-center"> {{ item.size.product.name }} </td>
                    <td class="text-center">
                        <form action="" method="GET">
                            <input type="number" name="quantity" class="cart-item-qty" data-id='{{ item.id }}' value="{{ item.quantity }}" min="1" style="width: 40px;"/>
                        </form>
                    </td>
                    <td class="text-center" id="cart-item-total-{{ item.id }}"> {{ item.item_total }}$ </td>
                    <td class="text-center"> {{ item.size.size }} </td>
                    <td class="text-center">
                        <a href="{% url 'cart:remove-item-from-cart' %}?item_id={{ item.id }}">
                        <button class="btn btn-default"> Remove </button>
                        </a>
                    </td>
                </tr>

            {% endfor %}

    </table>

    {% endif %}


    <script>

     $(document).ready(function () {

        $('.cart-item-qty').click(function () {

            var qty = $(this).val();
            var item_id = $(this).attr('data-id');

            var data = {
                qty: qty,
                item_id: item_id
            };
            $.ajax({
                type: "GET",
                url: '{% url 'cart:change-item-quantity' %}',
                data: data,
                success: function (data) {
                    $('#cart-item-total-'+item_id).html(parseFloat(data.item_total).toFixed(2) + '$')
                }

            });
        });

     });

    </script>

    {% endblock %}
