{% extends 'base.html' %}


{% load staticfiles %}
{% load core_tag %}

{% block include_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/detail_product_style.css' %}">
{% endblock include_css %}


{% block title %}
    {{ object.name }}
{% endblock %}



{% block content %}

    <div class="row">

        <div class="column left">
            {% for image in object.image.all|slice:"2:" %}
                <img class="img2" src="/media/{{ image }}" alt="Img1">
                <br>
            {% endfor %}
        </div>

        <div class="column middle">
            <img class="img1" src="/media/{{ object.image.first }}" alt="Img1">
        </div>

        <div class="column right">

            <h2> {{ object.name }} </h2>
            <h2> Price: </h2> {{ object.price }}$
            <form name="add_to_cart" action="{% url 'cart:add-to-cart'%}"  id="add_to_cart" method="get" >
                <h2> Size: </h2>
                <select name="product_size">
                        <option > Please select  </option>
                    {% for prod in object.productsizesubmodel_set.all %}
                        <option value="{{ prod.id }}"> {{ prod.size }} </option>
                    {% endfor %}
                </select>
                <br>
                <br>
                {% if request.user.is_authenticated %}
                    <input type="button" id="add-to-cart-button" value="Add to cart"/>
                {% else %}
                    <p style="color: darkslategray"> Only registered users can order goods! </p>
                {% endif %}
                <br>
            </form>
        </div>

    </div>

    <div>

        <br>
        <h2> Description: </h2> {{ product.description }}

    </div>

    <div>
        <h2> Reviews: </h2>

        {% if reviews %}

            {% for review in reviews %}
                <div class="reviews">
                    <img class="img3" src="/media/{{ review.author.avatar }}" alt="Img3">
                    <br>
                    <span class="author" > {{ review.author }} </span>
                    {{ review.date }}
                    <br>
                    <br>
                    {{ review.text }}
                    <br>
                    Rating:
                    <button class="increment" data-id="{{ review.id }}"> + </button>
                        <span> {{ review.rating }} </span>
                    <button class="decrement" data-id="{{ review.id }}"> - </button>
                    <a href="{% url 'core:edit-review' review.id %}?product_id={{ object.id }}">Edit</a>
                    <br>
                    <a class="reply" href="{% url 'core:add_review' %}?product_id={{ object.id }}&parent_id={{ review.id }}"> <button> Reply </button> </a>
                    <br>
                    <br>
                {% for replay in review.replies.all %}
                    <div class="reply_div">
                        <img class="img3" src="/media/{{ replay.author.avatar }}" alt="Img3">
                        <br>
                        <span class="author"> {{ replay.author }} </span>
                        {{ replay.date }}
                        <br>
                        <br>
                        {{ replay.text }}
                        <br>
                        Rating:
                        <button class="increment" data-id="{{ replay.id }}"> + </button>
                            <span> {{ replay.rating }} </span>
                        <button class="decrement" data-id="{{ replay.id }}"> - </button>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'core:edit-review' replay.id %}?product_id={{ object.id }}&parent_id={{ replay.parent_id }}">Edit</a>
                        {% endif %}
                        <br>
                    </div>
                    <br>
                {% endfor %}
                </div>
            {% endfor %}

        {% else %}
            <span> There are no comments yet. </span>
        {% endif %}

    </div>
    <br>

    {% if request.user.is_authenticated %}
        <a class="add_review" href="{% url 'core:add_review' %}?product_id={{ object.id }} "> <button> Add a review </button></a>
    {% endif %}

    <script>
         $(document).ready(function () {
             $( "#add-t-cart-button" ).on( "click", function() {
                 console.log('asdasd');
                 var data = $("#add-to-cart-form").serialize();
             $.ajax({
                type: "GET",
                url: '{% url 'cart:add-to-cart' %}',
                data: data,
                success: function (data) {
                    $('#cart_count').html(data.cart_total)
                }
            });
            });
         });
    </script>

{% endblock %}
