{% extends 'base.html' %}


{% load staticfiles %}
{% load core_tag %}

{% block include_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/detail_product_style.css' %}">
{% endblock include_css %}


{% block title %}
    {{ object.name }}
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            var url = "/set-rating/";
           $('.increment').click(function () {
               var data = {
                   'review_id': $(this).data('id'),
                   'is_increment': 1
               };
               var self = $(this);
               $.get(url, data, function () {
                   var rating_element = self.next();
                   var curr_val = parseInt(rating_element.text());
                   rating_element.text(curr_val + 1);
               });
           });

           $('.decrement').click(function () {
               var data = {
                   'review_id': $(this).data('id'),
                   'is_increment': 0
               };
               var self = $(this);
               $.get(url, data, function () {
                   var rating_element = self.prev();
                   var curr_val = parseInt(rating_element.text());
                   rating_element.text(curr_val - 1);
               });
           });

        });
    </script>
{% endblock js %}

{% block content %}

    <div class="row">

        <div class="column left">
            {% for image in object.image.all|slice:"2:" %}
                <img class="img2" src="/media/{{ image }}" alt="Img1">
                <br>
            {% endfor %}
        </div>

        <div class="column middle">
            <img class="img1" src="/media/{{ object.image.first }}" alt="Img1">
        </div>

        <div class="column right">
            <h2> {{ object.name }} </h2>
            <h2> Price: </h2> {{ object.price }}$
            <h2> Size: </h2>
                {% for prod in object.productsizesubmodel_set.all %}
                    {{ prod.size }} ({{ prod.count }})
                {% endfor %}
            <br>
        </div>

    </div>

    <div>

        <br>
        <h2> Description: </h2> {{ product.description }}

    </div>

    <div>
        <h2> Reviews: </h2>

        {% if reviews %}

            {% for review in reviews %}
                <div class="reviews">
                    <img class="img3" src="/media/{{ review.author.avatar }}" alt="Img3">
                    <br>
                    <span class="author" > {{ review.author }} </span>
                    {{ review.date }}
                    <br>
                    <br>
                    {{ review.text }}
                    <br>
                    Rating:
                    <button class="increment" data-id="{{ review.id }}"> + </button>
                        <span> {{ review.rating }} </span>
                    <button class="decrement" data-id="{{ review.id }}"> - </button>
                    <br>
                    <a class="reply" href="{% url 'core:add_review' %}?product_id={{ object.id }}&parent_id={{ review.id }}"> <button> Reply </button> </a>
                    <br>
                {% for replay in review.replies.all %}
                    <div class="reply_div">
                        <img class="img3" src="/media/{{ replay.author.avatar }}" alt="Img3">
                        <br>
                        <span class="author"> {{ review.author }} </span>
                        {{ replay.date }}
                        <br>
                        <br>
                        {{ replay.text }}
                        <br>
                        Rating:
                        <button class="increment" data-id="{{ replay.id }}"> + </button>
                            <span> {{ replay.rating }} </span>
                        <button class="decrement" data-id="{{ replay.id }}"> - </button>
                        <br>
                    </div>
                    <br>
                {% endfor %}
                </div>
            {% endfor %}

        {% else %}
            <span> There are no comments yet. </span>
        {% endif %}

    </div>
    <br>

    {% if user|has_group:'moder' or user.is_staff %}
        <a class="add_review" href="{% url 'core:add_review' %}?product_id={{ object.id }} "> <button> Add a review </button></a>
    {% endif %}

{% endblock %}
