{% extends 'base.html' %}


{% load staticfiles %}


{% block include_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/detail_product_style.css' %}">
{% endblock include_css %}


{% block title %}
    {{ object.name }}
{% endblock %}

{% block content %}

    <div class="row">

        <div class="column left">
            {% for image in object.image.all|slice:"2:" %}
                <img class="img2" src="/media/{{ image }}" alt="Img1">
                <br>
            {% endfor %}
        </div>

        <div class="column middle">
            <img class="img1" src="/media/{{ object.image.first }}" alt="Img1">
        </div>

        <div class="column right">
            <h2> {{ object.name }} </h2>
            <h2> Price: </h2> {{ object.price }}$
            <h2> Size: </h2>
                {% for prod in object.productsizesubmodel_set.all %}
                    {{ prod.size }} ({{ prod.count }})
                {% endfor %}
            <br>
        </div>

    </div>

    <div>

        <br>
        <h2> Description: </h2> {{ product.description }}

    </div>

    <div>
        <h2> Reviews: </h2>
        <div>
        {% if reviews %}
            {% for review in reviews %}
                {{ review.author }}
                {{ review.date }}
                {{ review.text }}
                {{ review.product }}
                <br>
            {% endfor %}
        {% else %}
            <span> 0 Review </span>
        {% endif %}

        </div>
    <br>
        <a href="{% url 'core:add_review' %}" product_id={{ object.id }}> Add a review</a>
    </div>

{% endblock %}
