{% extends 'base.html' %}


{% load staticfiles %}


{% block include_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/home_page_style.css' %}">
{% endblock include_css %}


{% block title %}
    Clothing Site
{% endblock title%}


{% block content %}

    <h1> Welcome to our site! </h1>
    {% for brand in brands %}
        <div class="block{{ forloop.counter }}">
            <a href="{% url 'core:brand' brand_name=brand.name %}" >
                <img class="img{{ forloop.counter }}" src="/media/{{ brand.image_logo.image }}" alt="logo-image">
            </a>
        </div>

        <div class="block{{ forloop.counter|add:3 }}">
            <p>
                {{ brand.description }}
            </p>
        </div>
    {% endfor %}

{% endblock content%}
