
body {
    background: lightgrey;
}

h1 {
    color: black;
    text-align: center;
}


img {
    height: 360px;
    width: 360px;
    margin-left: 50px;
    border:1px solid black;

}

a {
    text-decoration: none;
    color: black;
    margin-top: 500px;
}

h2 {
    color: black;
    font-size: 40px;
}

.block1 {
    position: absolute;
	top	: 350px;
    left: 175px;
	width: 100%;
    color: lightgrey;
    font-size: 40px;
}

.block2 {
    position: absolute;
	top	: 350px;
    left: 600px;
	width: 100%;
    color: lightgrey;
    font-size: 40px;
}

.block3 {
    position: absolute;
	top	: 350px;
    left: 1050px;
	width: 100%;
    color: lightgrey;
    font-size: 40px;
}
