body {
    background: lightgrey;
}

h1 {
    color: black;
    text-align: center;
}

.div {
    width: 100%;
}

.gender_image {
    display: inline-block;
    width: 30%;
    margin-left: 30px;
    margin-top: 5px;
    position: relative;
    text-align: center;
	}

img {
    height: 360px;
    width: 360px;
    border: 1px solid black;
}

.centered {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
    font-size: 30px;
    color: dimgray;
    font-weight: bold;
}