body {
    background: lightgrey;
}

.add_review {
    text-decoration: none;
    color: black;
    margin-left: 425px;
}

.reply {
    text-decoration: none;
    color: black;
    margin-left: 325px;
}

.img1 {
    width: 375px;
    height: 375px;
}

.img2 {
    width: 75px;
    height: 75px;
    display: block;
    margin: 0 auto;
}
.img3 {
    width: 75px;
    height: 75px;
}

.product_name {
    left: 100px;
}

.column  {
    float: left;
}

.left, .right {
    margin-top: 25px;
    width: 25%;
}

.middle {
    margin-top: 25px;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



.reviews {
    border: 2px solid grey;
    width: 40%;
    margin-top: 10px;
    margin-left: 10px;
}

.reply_div {
    border: 2px solid grey;
    width: 80%;
    margin-left: 90px;
}

.author {
    font-weight: bold;
}