body {
    background: lightgrey;
}

.add_review {
    text-decoration: none;
    color: black;
    margin-left: 285px;
}

.reply {
    text-decoration: none;
    color: black;
    margin-left: 325px;
}

img.img1 {
    width: 375px;
    height: 375px;
}

img.img2 {
    width: 75px;
    height: 75px;
    display: block;
    margin: 0 auto;
}

.product_name {
    left: 100px;
}

.column  {
    float: left;
}

.left, .right {
    width: 25%;
}

.middle {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

input {
    position: absolute; /* блок занимает ширину содержимого, max-width её ограничивает */
    left: 20%;
}

.reviews {
    border: 2px solid grey;
    width: 30%;
    margin-top: 10px;
}

.reply_div {
    border: 2px solid grey;
    width: 80%;
    margin-left: 70px;
}

.author {
    font-weight: bold;
}